body {
    background-image: url(../assets-spaf/img/PLASTIC3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.pastilla1{
    width: 80%;
    position: relative;
    display: inline-block;
}

.textoEncima{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -780%);
    color: #dbee50;
    padding: 10px;
    font-size: 60%;
    z-index: 1;

}

.plataforma{
    width: 60%;
    margin-top: 20px;
}

.aclara{
    text-align: center;
    color: white; 
    margin-top: 20px;
}

.aclara-img{
    width: 100%;
}

.texto{
    margin: 20px;
}

.empresa{
    text-align: center;
}

.wpp-empresa{
    text-align: center;
    margin-top: 275px;
}

.wpp-empresa2{
    text-align: center;
    
}

.llamada-empresa{
    text-align: center;
}

.enviar-ubi{
    text-align: center;
}

.logo-wpp{
    width: 50%;
    align-items: start;
}

.padres{
    text-align: center;
}

.ficha-medica{
    text-align: center;
}

.FM{
    text-align: center;
    color: red;
    
}

.logo-spaf{
    width: 80px;
}

/*------ ficha medica ---------*/

.volver{
    text-align: center;
    margin-top: 20px;
}

.ficha{
    text-align: center;
    margin-top: 25px;
    
}

.ficha-img{
    width: 85%;
    border: solid 2px black;
}

footer {
    text-align: center;
}

.version{
    color: #dbee50;
    text-align: center;
    font-size: 9px;
    margin-top: 10px;
}